body {
  font-family: 'Metal Mania', cursive;
}
h2, button {
  color: #fff;
}
button {
  font-size: 20px;
}
.band-search, .random-band {
  font-size: 30px;
  color: white;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
