.main-content {
  margin: auto;
  text-align: center;
  background-image: url("https://fanart.tv/api/download.php?type=download&image=14898&section=3");
  background-position: center;
  background-repeat: no-repeat;
  width: 90em;
  height: 50em;
}
.band-search, .random-band {
  margin: 100px;
}
#metal {
  height: 35px;
}

#metal-band {
color: black;
}
